@import 'default.css';

.avatar {
  margin-right: 10px;
  width: 30%;
}

li {
  margin: 15px;
}
section {
  margin: 15px auto;
}

.author-info {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  padding: 10px;
  background-color: #95c5c9;
}

.social-sharing {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
}

.img-container {
  display: flex;
  justify-content: center;
}

main {
  line-height: 1.5em;
}

h3 {
  margin: 15px auto;
}


@media(min-width: 900px) {
  section {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-areas: 
      "hd asd"
      "main asd";
  }

  header {
    grid-area: hd;
  }

  aside {
    grid-area: asd;
  }

  main {
    grid-area: main;
  }
}