@media(min-width: 900px) and (max-width: 1200px) {
  .card-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 30px;
  }
}

@media (min-width: 1200px) {
  .card-container {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    grid-gap: 30px;
  }
}